<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li id="home" {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Home</a></li>
			<li id="blog" {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog.html">Blog</a></li>
			<li id="mit">
				<a href="/mitmachen/mitmachen.html">Mitmachen</a>
				<ul>
					<li >
						<a href="/mitmachen/mitmachen-passiv.html">Probenahme mit Passivsammlern</a>
						<ul>
							<li><a href="/mitmachen/mitmachen-passiv.html#Sammler erhalten">Sammler erhalten</a></li>
							<li><a href="/mitmachen/mitmachen-passiv.html#Sammler benutzen">Sammler benutzen</a></li>
							<li><a href="/mitmachen/mitmachen-passiv.html#Sammler zurueckgeben">Sammler zurückgeben</a></li>
						</ul>
					</li>
					<li><a href="/mitmachen/mitmachen-laborworkshop.html">Im Laborworkshop</a></li>
					<li><a href="/mitmachen/mitmachen-schule.html">Als Schulprojekts mitmachen</a></li>
					<li><a href="/mitmachen/mitmachen-sensoren.html">Mit elektrischen Sensoren</a></li>
				</ul>
			</li>
			<li id="mess" {% if current[1] == 'messtechnik.html' %}class='current'{% endif %}><a href="/messprinzip.html">Messprinzip</a></li>
			<li {% if current[1] == 'karte.html' %}class='current'{% endif %}><a href="http://karte.no2-atlas.de/" target="_blank">Karte</a></li>
			<li id="pro">
				<a href="/ueber_das_projekt/projektbeschreibung.html">Über das Projekt</a> 
				<ul>
					<li><a href="/ueber_das_projekt/projektbeschreibung.html">Über den NO2-Atlas</a></li>
					<li><a href="/ueber_das_projekt/presse.html">In der Presse</a></li>
					<li><a href="/ueber_das_projekt/ergebnisse.html">Ergebnisse</a></li>
				</ul>
			</li>
			<li id="down" {% if current[1] == 'downloads.html' %}class='current'{% endif %}><a href="/downloads.html">Downloads</a></li>
		</ul>
	</nav>