<!DOCTYPE HTML>
<!--
	Made with Horizons by TEMPLATED
	by templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>NO2 - Atlas Berlin</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="google-site-verification" content="AXZQmAsmCVV6Te_R2CUh4fFQ8EKZ7J1UGIuGIqM8Lzg" />
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/jquery.dropotron.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<script src="{{ site.baseurl }}/assets/js/matomo.js"></script>
		<script src="{{ site.baseurl }}/assets/js/TableSort.js"></script>
		<script src="{{ site.baseurl }}/assets/js/generateTable.js"></script>

		</script>
		
			<link rel="stylesheet" type="text/css" href="/assets/css/skel.css" />
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
			
	</head>

	<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->

	<body id="{{ page.bodyid }}">
		<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="/index.html" id="logo">BerlinAir NO2-Atlas</a></h1>

					{% include nav.html %}

				</div>
			</div>

	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="8u">
								<section>

									<div class="row">
										<section class="2u">
											<img class="logo" src="/assets/images/TU_Logo_kurz_RGB_rot.svg" />
										</section>
										<section class="10u">
											Der NO2-Atlas ist ein Projekt des Fachgebiets Umweltchemie und Luftreinhaltung der TU Berlin. Es wird finanziert durch die Interne Forschungsförderung (Strategischer Call Citizen Science) der Technischen Universität Berlin.
										</section>
									</div>


									<div class="row">
										<!--<section class="4u">
												<a href="https://www.facebook.com/no2atlas"><img class="socialMedia-icon" src="/assets/images/f_logo_RGB-Blue_58.png" alt=""></a>
												&emsp;
												<a href="https://www.instagram.com/no2atlas/"><img class="socialMedia-icon" src="/assets/images/insta.png" alt=""></a>
										</section>-->
										<section class="4u">
											<ul class="default">
												<li><a href="/credits.html">Copyright/Credits</a></li>
												<li><a href="/bildnachweise.html">Bildnachweise</a></li>
											</ul>
										</section>
										<section class="4u">
											<ul class="default">
												<li><a href="/impressum.html">Impressum</a></li>
												<li><a href="/datenschutz.html">Datenschutz</a></li>
											</ul>
										</section>
									</div>
								</section>
							</div>
							<div class="4u">
								<section>
										<h3>Kontakt</h3>
										<p>Fachgebiet Umweltchemie</p>
									
									<ul class="contact">
										<li>
											<span>Straße des 17. Juni 135 <br />10623 Berlin</span>
										</li>
										<li id="schreibuns">
											<span class="mail">Mail:</span>
											<span id="schreibuns"> <A HREF="mailto:info@uc.tu-berlin.de">info@uc.tu-berlin.de</A> </span>
										</li>
										<li>
											<span class="phone">Telefon:</span>
											<span>+49 30 314-25220</span>
										</li>
									</ul>
								</section>
							</div>
						</div>
 
						<!--<div class="copyright">
							Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
						</div>
						-->
				</div>
			</div>



			



			

	</body>
</html>