---
layout: default
---
    
        <!--mitmachen Sidebar-->
            <div id="main" class="wrapper style1">
                    <div class="container">
                        <div class="row">
            
                            <!-- Sidebar -->
                            <div id="sidebar" class="4u sidebar">
                                <section>
                                    <header class="major">
                                        <h2>Möglichkeiten</h2>
                                    </header>
                                    <ul class="default" id="{{ page.mitmachen-id }}">
                                        <li><a href="mitmachen-passiv.html">NO2-Probenahme mit Passivsammlern</a></li>
                                        <li><a href="mitmachen-laborworkshop.html">Teilnahme an einem Laborworkshop</a></li>
                                        <li id="mitmachen-schule"><a href="mitmachen-schule.html">Im Rahmen eines Schulprojekts mitmachen</a></li>
                                        <li><a href="mitmachen-sensoren.html">Mit elektrischen Sensoren</a></li>
                                    </ul>
                                </section>
                            </div>
            <div id="content" class="8u skel-cell-important">
                    <section>

    {{ content }}

            </div>
                </section>
                        

                        </div>
                    </div>
            </div>
